* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    color: white;
  }
}